* {
    margin: 0;
    padding: 0;
}

.main {
  
    background-color: #0B1D26;
    color: white;
   }

.preview {
    position: relative;
   height: 100vh;
 
}

.preview_layer {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.preview_image{
    background-image: url(images/bg.png);
    background-size: cover;
    z-index: 1;
}

.header {
    display: flex;
    height: 25px;
    justify-content: space-between;
    padding: 64px 80px;
    z-index: 2;
    align-items: center;
}

.nav {
    display: flex;
}

.nav_item {
    cursor: pointer;
}

.nav_item:not(:last-child) {
    margin-right:40px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.account_wrapper {
    display: flex;
    align-items: center;
}

.account_title {
    padding-left: 8px;
    font-family: 'Gilroy';
    font-size: 17px;
}

.title_wrapper {
    z-index: 3;
    top: 25%;
    left: 25%;
    max-width: 950px;
}

.title_text {
    font-size: 18px;
    color: #FBD784;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-left: 32px;
    }

.subscription {
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 114%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 32px;
}

.line{
    height: 2px;
    width: 72px;
    background-color: #FBD784;
}

.title {
    display: flex;
    align-items: center;
}

.content {
    padding: 100px 10%;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    align-items: center;
}

.section:not(:last-child) {
margin-bottom: 200px;
}
.section_info {
    position: relative;
    max-width: 632px;
}

.count {
    position: absolute;
    top: -140px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}

.section_header {
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.section_title {
    padding-left: 24px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
   }

.info_title {
    padding-top: 27px;
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    max-width: 555px;
    padding-left: 20%;
}

.section_text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: #FFFFFF;
    padding-left: 20%;
}

.section_image1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.section_image2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer {
   padding: 120px 10%;
   display: flex;
   justify-content: space-between;
}

.footer_info {
    padding-top: 24px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: #FFFFFF;
}

.copyright {
    padding-top: 122px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.5;
}

.right_side {
    display: flex;
    justify-content: space-between;
}

.bottom_nav:not(:last-child){
    margin-right: 212px;
}

.nav_title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FBD784;
    padding-bottom: 24px;
}

.bottom_nav_title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.bottom_nav_title :not(:last-child){
   padding-top:16 px
}